# dependencies
/node_modules
/website/node_modules

## docs
/website/i18n
/website/build

# production
### as the npm install is not creating build..lets commit dist folder too   ref -> https://stackoverflow.com/questions/40528053/npm-install-and-build-of-forked-github-repo
#/dist

# jest
/coverage

examples/src/index.js

# misc
.DS_Store
.env

**/*.js
**/*.d.ts

package-lock.json
