/* your custom css */

@media (max-width: 767px) {
  .gif {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .gif {
    max-width: 450px;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
