.uploader-dropzone {
  height: 60vh;
  max-width: 100%;
  overflow: scroll;
  font-family: 'roboto', sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
  transition: all .15s linear;
}

.uploader-link {
  font-family: 'nunito-sans', sans-serif;
  font-size: 15px;
  margin-top: 8px;
  color: #3DC59F;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-decoration: none;
  display: table;
  cursor: pointer;
  transition: all .15s linear;
}

.uploader-dropzoneInstructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.uploader-previewListContainer {
  margin-top: 40px;
}

.uploader-largeText {
  font-family: 'work-sans-300', sans-serif;
  font-size: 22px;
  color: #141418;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 10px;
}

.uploader-smallText {
  font-family: 'work-sans-300', sans-serif;
  font-size: 18px;
  color: #141418;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 20px;
}

.uploader-active {
  background-color: #F6F8FA;
  border: 4px solid #3DC59F;
}

.uploader-input {
  display: none;
}

.uploader-inputLabel {
  font-family: 'nunito-sans-700', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  color: #3DC59F;
  letter-spacing: 0.35px;
  text-align: center;
  line-height: 16px;
  border: 1px solid #3DC59F;
  display: inline-block;
  padding: 13px 25px 11px 25px;
  cursor: pointer;
  transition: all .15s linear;
}

.uploader-inputLabel:hover {
  border: 1px solid #01886C;
}

.uploader-addFiles {
  padding-left: 5%;
  margin-bottom: 20px;
}

.uploader-addFiles .inputLabel {
  color: 000000;
  opacity: 0.8;
  border: 1px solid #141418;
}

.uploader-addFiles .inputLabel:hover {
  border: 1px solid #4D4D4D;
}

.uploader-previewContainer {
  padding: 0 13% 0 5%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.uploader-statusContainer {
  display: flex;
  align-items: center;
}

.uploader-preview {
  height: 70px;
  width: auto;
  max-width: 140px;
}

.uploader-buttonContainer {
  border-top: 1px solid #E1E7ED;
  padding: 20px 5%;
}

.uploader-abortButton {
  background: no-repeat url("./assets/close-modal.svg") top right;
  background-size: 10px 10px;
  background-position: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 11;
  opacity: 1.0;
  margin: 0 0 2px 10px;
}
